<div class="ui container">
  <img class="ui fluid image" src="/images/Cover Photo.png">
  <h1 class="ui white centered header"> Raffle Kerberos Generator</h1>

  <h3 class="ui white centered header">Click to generate a kerberos from the list</h3>
  <br/>
  <div class="ui center aligned container">
    <button class="ui inverted button">Generate winners</button>
  </div>
  <br/>
  <h3 class="ui centered white result header"></h3>
  <br/>
  <img class="ui small centered image" src="/images/techx.png">
</div>

<script src="/javascripts/generator.js"></script>
