<div class="ui container">
  <img class="ui fluid image" src="/images/Cover Photo.png">
  <h1 class="ui centered header"> Raffle Sign Up</h1>
  <h2 class="ui centered header"> Enter for the chance to win!</h2>
  <div class="ui container input-box">
    <form class= "ui form">
      <div class="field">
        <div class="ui huge inverted fluid action input">
          <input placeholder="Please enter your kerberos" type="text" name="kerberos">
          <button class="ui inverted button">Submit</button>
        </div>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
  <h3 class="message"></h3>
  <img class="ui small centered image" src="/images/techx.png">
</div>
<script src="/javascripts/index.js"></script>
